{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Add Property</h1>




{# Add the appropriate method and enctype attributes to the form tag #}
<form action="{{url_for('create')}}" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.title.label }} {{ form.title(class='form-control') }}
    {{ form.bedrooms.label }} {{ form.bedrooms(class= 'form-control') }}
    {{ form.bathrooms.label }} {{ form.bathrooms(class= 'form-control') }}
    {{ form.location.label }} {{ form.location(class ='form-control') }}
    {{ form.price.label }} {{ form.price(class='form-control') }}
    {{ form.property_type.label }} {{ form.property_type(class='form-control') }}
    {{ form.description.label }} {{ form.description(class='form-control') }}
     {{ form.photo.label }} {{ form.photo(class='form-control') }} 


    <button type="submit" name="submit" class="btn btn-primary">Create Property Listing</button>
</form>
{% endblock %}